@import "compass";

// Core variables and mixins
@import "lib/variables";
@import "lib/mixins";

$docPaddingTop: 59px;
$colorSwatchSize: 72px;

body {
	padding: $docPaddingTop 0 0;
}

#index {
	padding-top: 0;
}


// Jumbotron
// -------------------
.jumbotron {
	background: $eddieGrayNavy;
	padding: 40px;
	.jumbotron-inner {
		background: url(../img/bg_pattern-cover.png) $eddieGreenLight;
		border-radius: 4px;
		padding: 15px 20px;

		h1 {
			background: $white;
			border-radius: $baseBorderRadius;
			font-size: 36px;
			line-height: 1em;
			position: relative;

			> a {
				display: block;
				padding: 20px;
				text-decoration: none;

				i {
					float: right;
				}
			}

			.dropdown-menu > li > a {
				font-size: $baseFontSize;
			}

		}
		.lead {
			color: $white;
			margin: 20px;
		}
	}
}


// Masthead
// -------------------
.masthead {
	color: $eddieGrayPale;
	margin-bottom: 40px;
	position: relative;
	h1 {
		font-size: 80px;
	}
}

.theme-swatch {
	display: none;
	position: absolute;
	right: 20px;
	top: 108px;
	ul {
		margin-left: 0;
	}
	li {
		display: block;
		height: $colorSwatchSize;
		width: $colorSwatchSize;
	}

	.primary {
		float: left;
		li {
			&:nth-of-type(1) {
				background: $eddieGrayPale;
			}
			&:nth-of-type(2) {
				background: $eddieGrayLight;
			}
			&:nth-of-type(3) {
				background: $eddieGray;
			}
			&:nth-of-type(4) {
				background: $eddieGrayDark;
			}
			&:nth-of-type(5) {
				background: $eddieGreen;
			}
			&:nth-of-type(6) {
				background: $eddieRed;
			}
		}
	}
	.alternative {
		float: right;
		li {
			&:nth-of-type(1) {
				background: $white;
			}
			&:nth-of-type(2) {
				background: $grayLighter;
			}
			&:nth-of-type(3) {
				background: $gray;
			}
			&:nth-of-type(4) {
				background: $eddieGrayNavy;
			}
			&:nth-of-type(5) {
				background: $eddieGreenLight;
			}
			&:nth-of-type(6) {
				background: $eddieOrange;
			}
		}
	}
}

@import "lib/tiles";



// Doc side nav
// -------------------
.bs-doc-sidenav {
	@include box-sizing(border-box);
	display: block;
	float: left;
	margin-top: $docPaddingTop;
	width: 220px;

	li {
		> a {
			padding: 10px 15px;
			text-shadow: none;
			> i {
				color: #ccc;
			}
			&:hover {
				color: $eddieGrayNavy;
				padding-left: 20px;
			}
		}
	}
}


// Page content
// -------------------
.page-content {
	background: #FFF;
	padding: 0 20px 88px;
}
.bs-doc-sidenav + .page-content {
	margin-left: 220px;
}

.section-doc {
	padding-top: $docPaddingTop;
}


// Doc example
// -------------------
.bs-doc-example {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 15px 0;
	padding: 39px 19px 14px;
	position: relative;
	&:after {
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		content: "Example";
		color: #9da0a4;
		font-size: 12px;
		top: -1px;
		left: -1px;
		padding: 3px 7px;
		position: absolute;
	}
	+ .prettyprint {
		margin-top: -16px;
	}
	&.bs-doc-example-submenus {
		min-height: 180px;
		> .pull-left + .pull-left {
			margin-left: 20px;
		}
		.dropdown,
		.dropup {
			> .dropdown-menu {
				display: block;
				margin-bottom: 5px;
				position: static;
				*width: 180px;
			}
		}
	}

	.scrollspy-example {
		height: 200px;
		overflow: auto;
		position: relative;
	}

	&.bs-doc-example-popover {
		.popover {
			position: relative;
			display: block;
			float: left;
			width: 260px;
			margin: 20px;
		}
	}
}

/* Special grid styles
-------------------------------------------------- */

.show-grid {
   margin-top: 10px;
   margin-bottom: 20px;
}
.show-grid [class*="span"] {
   background-color: #eee;
   text-align: center;
   min-height: 40px;
   line-height: 40px;
}
.show-grid:hover [class*="span"] {
   background: #ddd;
}
.show-grid .show-grid {
   margin-top: 0;
   margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
   background-color: #ccc;
}



// features
// -------------------
.features {
	margin: 60px auto;
	text-align: center;

	h2 {
		font-size: $baseFontSize * 1.6;
		line-height: $baseLineHeight * 1.6;
	}
}

// Fotter
// -------------------
.footer {
	background: $eddieGrayPale;
	border-top: 1px solid $eddieGrayLight;
	text-align: center;
	padding: 30px 20px;

}

// Prittify
// -------------------
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}


// Responsive
// ----------------------------------------

// Large desktops
// -------------------------
@media (min-width: 1600px) {
	.theme-swatch {
		display: block;
	}
}

// Desktop
// -------------------------
@media (max-width: 980px) {
	body {
		padding: 0;
	}

	.jumbotron {
		margin-top: -20px;
		&.masthead {
			h1 {
				font-size: 64px;
			}
		}
	}

	.bs-doc-sidenav {
		margin-top: 0;
	}
	.section-doc {
		padding-top: 0;
	}

}

// Tablet to desktop
// -------------------------
@media (min-width: 768px) and (max-width: 979px) {
	.jumbotron {
	}
}

// Tablet
// ------------------------
@media (max-width: 767px) {
	body {
		padding: 0 20px;
	}
	.jumbotron {
		margin-left: -20px;
		margin-right: -20px;
		margin-top: -20px;
		padding: 20px;
		&.masthead {
			h1 {
				font-size: 64px;
				> a {
					padding: 15px;
				}
			}
			.lead {
				font-size: $baseFontSize * 1.14;
			}
		}
	}

	.bs-doc-sidenav {
		border-bottom: 1px solid $hrBorder;
		float: left;
		margin-bottom: 20px;
		margin-top: 0;
		width: 100%;
		&.affix {
			position: static;
		}
		li > a {
			border-top: 1px solid $hrBorder;
		}
	}
	.bs-doc-sidenav + .page-content {
		margin-left: 0;
	}

	.footer {
		margin-left: -20px;
		margin-right: -20px;
	}
}

// Landscape phones
// -------------------------
@media (max-width: 480px) {
	.jumbotron {
		&.masthead {
			h1 {
				font-size: $baseFontSize * 2.8;
			}
			h2 {
				font-size: $fontSizeLarge * 1.2;
			}
			.lead {
				line-height: 1.4em;
			}
		}
	}
}

@import "lib/responsive-tiles";